Input, textarea {
    padding-left: 0.5rem;
    outline: none;
}

input, textarea::placeholder {
    color: #aaacb2;
}

select {
    -webkit-appearance: none;
    border:0;
    outline:0;
    background-color: inherit;
}

select {

}

select:focus {
    border-color: red;
}

option {
    background-color: #181e34;
}

.text-color {
    color: #d5d8df;
}